# Supabase local development config - obtained when running `pnpm supabase start`
# generate with `pnpm create-env-local`
# "Project URL"
VITE_SUPABASE_URL=http://127.0.0.1:54321
# "Authentication Keys -> Publishable"
VITE_SUPABASE_PUBLISHABLE_KEY=[sb_publishable_...rest of key]
