# Supabase local integration test config - obtained when running `pnpm supabase start`
# generate with `pnpm create-env-test` 
# "Project URL"
VITE_SUPABASE_URL=http://127.0.0.1:54321
# "Authentication Keys -> Publishable"
VITE_SUPABASE_PUBLISHABLE_KEY=[sb_publishable_...rest of key]
# "Authentication Keys -> Secret"
SUPABASE_SECRET_KEY=[sb_secret_...rest of key]

# Smithsonian Institution Open Access API Key
# https://api.data.gov/signup/
SI_OA_API_KEY=
