# Supabase

# Project Settings -> General -> Project ID
VITE_SUPABASE_URL=https://[project id].supabase.co
# Project Settings -> API Keys -> Publishable key
VITE_SUPABASE_PUBLISHABLE_KEY=[sb_publishable_...rest of key]
