*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* react aria sets stable (not stable both-edges) which causes a jump in layout when a popover shows */
  scrollbar-gutter: stable both-edges !important;
  background: var(--background);
  color: var(--text);
}

body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}
