:root {
  --background: oklch(0.958 0.008 286);
  --text: oklch(0.282 0.034 282);
  --text-muted: oklch(0.516 0.02 284);
  --text-accent: oklch(0.532 0.162 288);
  --link-color: oklch(0.532 0.162 288);
  --border-color: oklch(0.84 0.018 286);
  --separator-color: color-mix(
    in oklab,
    var(--border-color) 55%,
    var(--text) 45%
  );
  --outline-color: black;
  --primary-bg: oklch(0.59 0.168 288);
  --primary-text: oklch(1 0 0);
  --primary-text-muted: oklch(0.83 0.026 286);
  --secondary-bg: oklch(0.985 0.008 286);
  --secondary-text: oklch(0.35 0.052 286);
  --tertiary-bg: oklch(0.944 0.016 286);
  --tertiary-text: var(--secondary-text);
  --success-bg: oklch(0.9026 0.074 160.4542);
  --success-text: oklch(0.396 0.1022 160.5193);
  --warning-bg: oklch(0.9369 0.1163 91.6125);
  --warning-text: oklch(0.4419 0.0949 77.9333);
  --danger-bg: oklch(0.9058 0.0788 23.6895);
  --danger-text: oklch(0.4487 0.1496 25.3644);
  --info-bg: oklch(0.9165 0.0628 251.7636);
  --info-text: oklch(0.4285 0.1185 253.8633);
}

:root[data-theme='dark'] {
  --background: oklch(0.1743 0.0227 283.7998);
  --text: oklch(0.9185 0.0257 285.8834);
  --text-muted: oklch(0.7166 0.0462 285.1741);
  --text-accent: oklch(0.7162 0.1597 290.3962);
  --link-color: oklch(0.7162 0.1597 290.3962);
  --border-color: oklch(0.3261 0.0597 282.5832);
  --separator-color: color-mix(
    in oklab,
    var(--border-color) 55%,
    var(--text) 45%
  );
  --outline-color: white;
  --primary-bg: oklch(0.7162 0.1597 290.3962);
  --primary-text: oklch(0.1743 0.0227 283.7998);
  --primary-text-muted: oklch(0.5426 0.0465 284.7435);
  --secondary-bg: oklch(0.3139 0.0736 283.4591);
  --secondary-text: oklch(0.8367 0.0849 285.9111);
  --tertiary-bg: oklch(from var(--secondary-bg) calc(l + 0.1) c h);
  --tertiary-text: var(--secondary-text);
  --success-bg: oklch(0.348 0.0778 158.0116);
  --success-text: oklch(0.8775 0.0972 158.7163);
  --warning-bg: oklch(0.3702 0.0871 91.2838);
  --warning-text: oklch(0.9118 0.1128 91.6432);
  --danger-bg: oklch(0.3714 0.1025 24.1384);
  --danger-text: oklch(0.8842 0.1206 24.6336);
  --info-bg: oklch(0.3473 0.0893 252.1054);
  --info-text: oklch(0.8618 0.1208 252.724);
}
